<aside class="bg-black h-dvh w-[15%] fixed">
    <div class="text-center bg-slate-300 text-blue-950 font-extrabold">All HandsOn's Here <br> Click to View</div>
    <div class="flex justify-between flex-col h-1/2 mt-16">
        <div hover class="border p-3 cursor-pointer hover:bg-slate-50 hover:rounded-lg" routerLink="/handsOn_1">HandsOn_1</div>   
        <div hover class="border p-3 cursor-pointer hover:bg-slate-50 hover:rounded-lg" routerLink="/handsOn_2">HandsOn_2</div>
        <div hover class="border p-3 cursor-pointer hover:bg-slate-50 hover:rounded-lg" routerLink="/handsOn_3">HandsOn_3</div>
    </div>
</aside>